# MQTT connection information
MQTT_PUB_USER=
MQTT_PUB_PASS=replace-with-env-pw
MQTT_SUB_USER=subscriber
MQTT_SUB_PASS=replace-with-env-pw

# MySQL database connection information
USE_MYSQL=True
DB_HOST=localhost
DB_NAME=sensordata
DB_USER=
DB_PASS=
MYSQLDB_ROOT_PASSWORD=
