attrs==19.3.0
cached-property==1.5.1
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
Deprecated==1.2.13
distro-info===0.23ubuntu1
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
idna==2.8
importlib-metadata==1.5.0
iotop==0.6
jsonschema==3.2.0
more-itertools==4.2.0
OPi.GPIO==0.5.2
OrangePi.GPIO==0.6.3
pyA20==0.2.1
PyGObject==3.36.0
pyrsistent==0.15.5
python-apt==2.0.0+ubuntu0.20.4.6
PyYAML==5.3.1
redis==4.0.2
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
texttable==1.6.2
unattended-upgrades==0.1
urllib3==1.25.8
websocket-client==0.53.0
wrapt==1.13.3
zipp==1.0.0
